@{
    Page.Title = "About Us";
    Layout = "~/Shared/_Layout.cshtml";
}

<div  id="about">
    More than the clothes we create, BG Design Inc. is defined by its people. Our dedicated, eclectic, 
    passionate culture is driven by pros, with personality. Say hello, 
    get to know us, and take a closer look at what (and who) we're made of.
</div>
<div  class="container">
    <div ><img src="~/Image/lion.jpg" /></div>
    <div><img src="~/Image/hoodie.jpg" /></div>
    <div><img src="~/Image/hoodie1.jpg" /></div>
    <div><img src="~/Image/hoodie2.jpg" /></div>
    <div><img src="~/Image/hoodie3.jpg" /></div>
</div>